@import '@/styles/mixins.scss';
.feed {
	gap: 1rem;

	@include screen-md-max {
		display: flex;
		flex-direction: column;
	}

	@include screen-md-min {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	@include screen-lg-min {
		grid-template-columns: repeat(3, 1fr);
	}
}
